In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.datetime(1970, 1, 1, 0, 25, 41, 106107), 'free', '8', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (2, datetime.datetime(1970, 1, 1, 0, 25, 41, 106353), 'free', '8', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(1970, 1, 1, 0, 25, 41, 106497), 'free', '8', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4, datetime.datetime(1970, 1, 1, 0, 25, 41, 106674), 'free', '8', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (5, datetime.datetime(1970, 1, 1, 0, 25, 41, 107054), 'free', '8', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [4]:
%sql SELECT distinct song_id,artist_id FROM songplays;

 * postgresql://student:***@127.0.0.1/sparkifydb
2 rows affected.

[(None, None), ('SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4')]

In [5]:
%sql SELECT count(*) from songplays;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [6]:
%sql SELECT count(*) from songplays where song_id is null

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6819,)]

In [7]:
%sql SELECT count(*) from songplays where song_id is not null

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1,)]

In [8]:
%sql SELECT * FROM users where user_id = '8';

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('8', 'Kaylee', 'Summers', 'F', 'free')]

In [9]:
%sql SELECT * FROM songs where song_id like 'SOZCTXZ12AB0182364';

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, Decimal('269.58322'))]

In [5]:
%sql SELECT distinct title FROM songs order by title;

 * postgresql://student:***@127.0.0.1/sparkifydb
71 rows affected.

[('A Higher Place (Album Version)',),
 ('A Whiter Shade Of Pale (Live @ Fillmore West)',),
 ('Amor De Cabaret',),
 ('Auguri Cha Cha',),
 ('Baby Come To Me',),
 ('Blessed Assurance',),
 ('Broken-Down Merry-Go-Round',),
 ('Caught In A Dream',),
 ('City Slickers',),
 ('Clementina Santafè',),
 ('Crazy Mixed Up World',),
 ('Den Pai Alo',),
 ('Der Kleine Dompfaff',),
 ('Do You Finally Need A Friend',),
 ('Drop of Rain',),
 ('Erica (2005 Digital Remaster)',),
 ('Face the Ashes',),
 ('Floating',),
 ('Get Your Head Stuck On Your Neck',),
 ('Got My Mojo Workin',),
 ('Harajuku Girls',),
 ('High Tide',),
 ("I Didn't Mean To",),
 ('I Hold Your Hand In Mine [Live At Royal Albert Hall]',),
 ('I Think My Wife Is Running Around On Me (Taco Hell)',),
 ('Insatiable (Instrumental Version)',),
 ('Intro',),
 ('It Makes No Difference Now',),
 ('It Wont Be Christmas',),
 ('James (Hold The Ladder Steady)',),
 ('Jenny Take a Ride',),
 ('Kassie Jones',),
 ('Keepin It Real (Skit)',),
 ('Knocked Out Of The Park',),
 ('Kutt Free (DJ Volume Remix)',),
 ('La Culpa',),
 ('Larger Than Life',),
 ('Laws Patrolling (Album Version)',),
 ('Living Hell',),
 ('Loaded Like A Gun',),
 ('Made Like This (Live)',),
 ('Midnight Star',),
 ('Music is what we love',),
 ('Native Soul',),
 ('OAKtown',),
 ('Pink World',),
 ('Prognosis',),
 ('Rumba De Barcelona',),
 ('Salt In NYC',),
 ('Setanta matins',),
 ('Setting Fire to Sleeping Giants',),
 ('Sohna Nee Sohna Data',),
 ('Something Girls',),
 ('Sonnerie lalaleulé hi houuu',),
 ('Sono andati? Fingevo di dormire',),
 ('Soul Deep',),
 ('Spanish Grease',),
 ('Streets On Fire (Explicit Album Version)',),
 ('Superconfidential',),
 ('Synthetic Dream',),
 ('Ten Tonne',),
 ('The Ballad Of Sleeping Beauty',),
 ('The Emperor Falls',),
 ('The Moon And I (Ordinary Day Album Version)',),
 ('The Urgency (LP Version)',),
 ('Tonight Will Be Alright',),
 ('Twist and Shout',),
 ('Wessex Loses a Bride',),
 ('Wild Rose (Back 2 Basics Mix)',),
 ('Young Boy Blues',),
 ('¿Dónde va Chichi?',)]

In [14]:
%sql SELECT * FROM artists limit 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
20 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', Decimal('NaN'), Decimal('NaN')),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', Decimal('35.14968'), Decimal('-90.04892')),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', Decimal('NaN'), Decimal('NaN')),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', Decimal('NaN'), Decimal('NaN')),
 ('ARXR32B1187FB57099', 'Gob', '', Decimal('NaN'), Decimal('NaN')),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', Decimal('NaN'), Decimal('NaN')),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', Decimal('NaN'), Decimal('NaN')),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', Decimal('NaN'), Decimal('NaN')),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', Decimal('NaN'), Decimal('NaN')),
 ('ARNTLGG11E2835DDB9', 'Clp', '', Decimal('NaN'), Decimal('NaN')),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', Decimal('35.21962'), Decimal('-80.01955')),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', Decimal('NaN'), Decimal('NaN')),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', Decimal('NaN'), Decimal('NaN')),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', Decimal('NaN'), Decimal('NaN')),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', Decimal('NaN'), Decimal('NaN')),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', Decimal('43.64856'), Decimal('-79.38533')),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', Decimal('37.16793'), Decimal('-95.84502')),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', Decimal('NaN'), Decimal('NaN')),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', Decimal('NaN'), Decimal('NaN')),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', Decimal('NaN'), Decimal('NaN'))]

In [13]:
%sql SELECT distinct year,month, week FROM time LIMIT 20;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(1970, 1, 1)]

In [15]:
%sql SELECT SONGS.song_id,ARTISTS.artist_id from SONGS JOIN ARTISTS ON SONGS.artist_id = ARTISTS.artist_id WHERE SONGS.title ='You Gotta Be'

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [13]:
%sql DELETE FROM SONGs

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[]

In [14]:
%sql DELETE FROM ARTISTS

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[]

In [32]:
%sql DELETE FROM songplays

 * postgresql://student:***@127.0.0.1/sparkifydb
4223 rows affected.

[]

In [33]:
%sql COMMIT

 * postgresql://student:***@127.0.0.1/sparkifydb
Done.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).